body{
    background-image: url(field_bg.jpg);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-top:50px;
}

.bat img{
    padding-left: 160px;
    margin-top:72px;
    
}
.bat img{
    transform:rotate(-30deg);
    transform-origin: left top;
    
}
.bat img:hover{
    transition:transform 2s ease-in-out 1s;
    
}